:root {
    --first-titel-color: #212121;
    --second-titel-color: #757575;
    --third-titel-color:#FFFFFF; 
    --accent-color: #2196f3;  
    --main-page-color: #212121; 
    --light: #f5f4fa;   
}