.mix {
    padding-top: 94px;
    padding-bottom: 94px;
    
}
.mix-item{
    width: 270px;
}
.mix-item:last-child {
    margin-right: 0;
}
.pictures-icon-container {
    display: flex;
    height: 120px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: var(--light);
}

.mix-list {
    display: flex;
    gap: 30px; 
}

.mix-titel {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 10px;
color: #212121;

}
.mix-text {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
    
}